body {
    min-height: 100vh;
}

.img-sidebar {
    width: 35%;
    height: 100vh;
    background-image: url("img/willedo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1e1e1e;
    float: left;
}

.sidebar-overlay {
    position: relative;
    box-sizing: border-box;
    top: 20%;
    height: 200px;
    text-align: center;
    background-color: #1e1e1e;
    opacity: 70%;
    padding: 30px;
}

.sidebar-overlay > h1 {
    font-size: 1.5rem;
    color: #e3e3e3;
}

.login {
    box-sizing: border-box;
    width: 65%;
    height: 100vh;
    float: left;
    padding-top: 120px;
    background-color: #f3f3f3;
}

.login > p { 
    margin-bottom: 40px;
}

.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: #1e1e1e;
    padding: 0 30px;
}

.wrapper > h1 {
    padding-top: 30px;
}

.wrapper > form {
    flex: 1;
    box-sizing: border-box;
    padding: 30px 0;
}

.flex-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;
    width: 70%;
    height: 180px;
}

.form-item {
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;
}

.form-item > label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

.form-item > input {
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    height: 30px;
    font-size: 1.05rem;
}

.form-item > input:invalid {
    border-color: rgb(200, 0, 0);
}